div {
	display: inline-block;
}

.row {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-spacing: 10px;
}

.column {
	border: 2px solid #A5CF21;
	display: table-cell;
	background-color: orange;
	text-align: center;
	vertical-align: middle;
}

